@import '../../../style/theme';

$s_size: 30px;
$m_size: 70px;
$l_size: 90px;

$space: 2px;

.Button {
  z-index: 3;
  outline: none;
  cursor: pointer;
  transition-duration: $quick;
  color: black;
  background: $light_text;
  height: 50px;
  line-height: 50px;
  border: none;
  position: relative;
  margin: 0;
  font-size: 1em;
  font-family: Roboto;
  font-weight: bold;
  letter-spacing: 0px;
  box-shadow: rgba(0, 0, 0, 0.47) 0 0 40px;
  margin-left: 25px;
  margin-right: 25px;
  text-transform: uppercase;
  &:before {
    transition-duration: $quick;
    content: '';
    display: block;
    position: absolute;

    width: 25px;
    height: 100%;
    background: $light_text;
    top: 0;
    left: -25px;
    z-index: 1;

    border-radius: 25px 0px 0px 25px;
  }
  &:after {
    transition-duration: $quick;
    content: '';
    display: block;
    position: absolute;

    width: 25px;
    height: 100%;
    background: $light_text;
    top: 0;
    right: -25px;
    z-index: 1;

    border-radius: 0px 25px 25px 0px;
  }

  &:hover {
    box-shadow: rgba(10, 75, 112, 0.866) 0 0 60px;
  }
  &.S {
    $margin: ($s_size / 2) + $space;
    margin-left: $margin;
    margin-right: $margin;

    font-size: 0.8em;
    height: $s_size;
    line-height: $s_size;

    &:before,
    &:after {
      width: $s_size / 2;
    }
    &:before {
      left: -1 * ($s_size / 2);
      border-radius: ($s_size / 2) 0 0 ($s_size / 2);
    }
    &:after {
      right: -1 * ($s_size / 2);
      border-radius: 0 ($s_size / 2) ($s_size / 2) 0;
    }
  }

  &.M {
    $margin: ($m_size / 2) + $space;
    margin-left: $margin;
    margin-right: $margin;

    height: $m_size;
    line-height: $m_size;
    &:before,
    &:after {
      width: $m_size / 2;
    }
    &:before {
      left: -1 * ($m_size / 2);
      border-radius: ($m_size / 2) 0 0 ($m_size / 2);
    }
    &:after {
      right: -1 * ($m_size / 2);
      border-radius: 0 ($m_size / 2) ($m_size / 2) 0;
    }
  }

  &.L {
    $margin: ($l_size / 2) + $space;
    margin-left: $margin;
    margin-right: $margin;

    font-size: 1.2em;

    height: $l_size;
    line-height: $l_size;
    &:before,
    &:after {
      width: $l_size / 2;
    }
    &:before {
      left: -1 * ($l_size / 2);
      border-radius: ($l_size / 2) 0 0 ($l_size / 2);
    }
    &:after {
      right: -1 * ($l_size / 2);
      border-radius: 0 ($l_size / 2) ($l_size / 2) 0;
    }
  }

  &.Primary {
    background: $primary;
    color: white;
    &:after,
    &:before {
      background: $primary;
    }

    &:hover {
      &:before,
      &:after {
        background: lighten($primary, 10%);
      }
      background: lighten($primary, 10%);
    }
  }

  &.Accent {
    background: $accent;
    color: white;
    &:after,
    &:before {
      background: $accent;
    }
    &:hover {
      &:before,
      &:after {
        background: lighten($accent, 5%);
      }
      background: lighten($accent, 5%);
    }
  }

  &.White {
    background: #f5f5f5;
    color: $primary;
    &:after,
    &:before {
      background: #f5f5f5;
    }
    &:hover {
      &:before,
      &:after {
        background: lighten(#f5f5f5, 5%);
      }
      background: lighten(#f5f5f5, 5%);
    }
  }
}
