@import '../../style/theme';
@import '../../style/sizes';
@import '../../style/responsive';

.Header {
  position: absolute;
  z-index: 10;
  background: transparent;
  height: $header_height;
  width: 100%;
  color: white;
  &.HeaderDark {
    background: $primary;
    color: white;
  }

  &.HeaderLight {
    background: white;
    color: $primary;
  }
  .HeaderContent {
    max-width: $container_max_width;
    width: $container_width;
    margin: 0 auto;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    .Burger {
      display: none;
      cursor: pointer;
    }
    .Nav {
      width: 100%;
      ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        li {
          font-weight: bold;
          font-size: 1.05em;
          margin-left: 40px;
          a {
            color: white;
            text-decoration: none;
            transition-duration: $quick;
            &:hover {
              color: $accent;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $break-tablet) {
  .Header {
    .HeaderContent {
      .Logo {
        width: 100%;
      }
      .Burger {
        display: block;
        width: 30px;

        cursor: pointer;
        z-index: 3;
        &.Open {
          span {
            position: absolute;
            transform-origin: center;
          }
          span:nth-child(2) {
            transform: rotate(45deg);
          }
          span:first-child {
            transform: rotate(45deg);
          }
          span:last-child {
            transform: rotate(-45deg);
          }
        }
        span {
          transition-duration: $quick;
          display: block;
          width: 30px;
          height: 3px;
          background: white;
          margin-bottom: 4px;
        }
        &:hover {
          span {
            background: $accent;
          }
        }
      }
      .Nav {
        transition-duration: $slow;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        position: absolute;
        left: -100%;
        background: rgba(6, 55, 83, 0.1);
        position: fixed;
        align-items: center;
        display: flex;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        ul {
          height: 80%;
          flex-direction: column;
          align-items: right;
          justify-content: center;
          padding: 25px;
          li {
            font-size: 2em;
            text-align: right;
            margin-bottom: 1em;
          }
        }
      }
      .Nav.Open {
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(6, 55, 83, 0.966);
      }
    }
  }
}
