@import '../../style/responsive';
@import '../../style/theme';

$inner_spacing: 50px;
$between_spacing: 30px;

.Service {
  width: 100%;
  margin-bottom: $between_spacing;
  margin-top: $between_spacing;
  box-sizing: border-box;
  .ServiceContainer {
    display: flex;
    flex-direction: row;
    font-family: $main_font;
    padding-top: 50px;

    .ImageContainer {
      box-sizing: border-box;
      width: 50%;
      // border: 4px solid red;
      text-align: right;
      img {
        width: 100%;
      }
    }
    .Content {
      width: 50%;
      padding: 0 ($inner_spacing / 2);
      p {
        padding: $inner_spacing 0;
        color: $light_text;
        line-height: 2em;
        font-size: 1em;
      }
    }

    &.RTL {
      flex-direction: row-reverse;
      .ImageContainer {
        text-align: left;
      }
      .Content {
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h2 {
          text-align: right;
          width: 70%;
        }
      }
    }
  }
}

@media (max-width: $break-tablet) {
  .Service {
    .ServiceContainer {
      flex-direction: column;
      .ImageContainer {
        text-align: center;
        width: 100%;
        margin-bottom: $inner_spacing;
        img {
          width: 80%;
        }
      }
      .Content {
        width: 100%;
        h2 {
          width: 100%;
          font-size: 1.6em;
        }
      }

      &.RTL {
        flex-direction: column;
        .ImageContainer {
          text-align: center;
          width: 100%;
          margin-bottom: $inner_spacing;
          img {
            width: 80%;
          }
        }
        .Content {
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          h2 {
            text-align: left;
            width: 70%;
          }
        }
      }
    }
  }
}
