@import '../../../style/responsive';
@import '../../../style/theme';

.Headline {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  line-height: 50px;
  font-size: 3.5em;
  font-family: $main_font;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -4px;
  color: $primary;
  padding: 50px;
  h3,
  h4 {
    font-size: 0.6em;
    letter-spacing: 1px;
    text-align: center;
  }
  &.NoPadding {
    padding: 0 0 100px 0;
  }
  .Title {
    &:after {
      position: relative;
      content: '';
      width: 200px;
      height: 2px;
      background-color: $accent;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
    }
  }

  h3.Title:after {
    display: none;
  }
  &.Standard {
    color: white;
  }
}

@media (max-width: $break-tablet) {
  .Headline {
    width: 100%;
    font-size: 2em;
  }
}
