@import '../../../style/theme';

.PlanningSection {
  position: relative;
  .Grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    .Column3 {
      box-sizing: border-box;
      width: 33%;

      text-align: center;

      .Date {
        p {
          text-transform: uppercase;
          font-size: 1.1em;
          font-weight: lighter;
        }
        p:first-child {
          font-size: 2.1em;
          color: lighten($light-text, 15%);
          font-weight: bolder;
          padding: 20px 0;
        }
      }
    }
  }
}
