// COLORS
$primary: #0a4b70;
$dark_primary: #06324b;
$accent: #e98c29;
$light_text: #9f9f9f;

$header_bg: $primary;

// FONTS
$main_font: 'Roboto', sans-serif;
$display_font: 'Vibur', 'Roboto', sans-serif;

// TEMPS
$quick: 300ms;
$slow: 600ms;

// SPACING
$section_spacing: 80px;
$spacing: 80px;

// TEXTS
$inner_spacing: 50px;
$between_spacing: 30px;
