@import './reset';
@import './theme';

body > * {
  font-family: Roboto;
}

h2 {
  font-size: 1.8em;
  color: $primary;
  font-weight: bolder;
  width: 70%;
  line-height: 1em;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main_font;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: -4px;
}

h3 {
  font-size: 40px;
  letter-spacing: -1px;
}

h4 {
  font-size: 20px;
  letter-spacing: -1px;
  padding: 20px 0 30px 0;
}

h1,
h2,
h5,
h6 {
  letter-spacing: 1px;
}

input,
textarea {
  border: none;
  font-family: Roboto, sans-serif;
}
