@import '../../style/theme';
@import '../../style/sizes';
@import '../../style/responsive';

.ImageGrid {
  .Grid {
    display: flex;
    flex-direction: column;
    .Row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      .Item {
        padding: 0;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
      }
    }
  }
}

@media (max-width: $break-tablet) {
  .ImageGrid .Grid .Row .Item {
    min-width: 100%;
  }
}
