.OrganisationSection {
  position: relative;
  padding-top: 80px;

  .Arrows {
    display: flex;
    justify-content: center;
  }
  .Grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    .Column3 {
      box-sizing: border-box;
      width: 33%;
    }
  }
}
