.FlexGroup {
  display: flex;
  width: 100%;
  flex-direction: row;
  &.Vertical {
    flex-direction: column;
  }
  &.left {
    justify-content: left;
  }
  &.right {
    justify-content: flex-end;
  }
  &.center {
    justify-content: center;
  }
}