.Card {
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px;
  border-radius: 2px;

  text-align: center;
  height: 150px;
  margin: 5%;

  display: flex;
  align-items: center;
  background: white;

  transition-duration: 300ms;

  &:hover {
    transform: scale(1.1);
  }
  img {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
  }
}
