@import 'node_modules/materialize-css/sass/materialize';
// ==========================================================================
// Materialize variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors
//  2. Badges
//  3. Buttons
//  4. Cards
//  5. Carousel
//  6. Collapsible
//  7. Chips
//  8. Date + Time Picker
//  9. Dropdown
//  10. Fonts
//  11. Forms
//  12. Global
//  13. Grid
//  14. Navigation Bar
//  15. Side Navigation
//  16. Photo Slider
//  17. Spinners | Loaders
//  18. Tabs
//  19. Tables
//  20. Toasts
//  21. Typography
//  22. Footer
//  23. Flow Text
//  24. Collections
//  25. Progress Bar

// 1. Colors
// ==========================================================================

$myblue: #0c4c70;
$primary-color: $myblue !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: $myblue !default;
$success-color: color('green', 'base') !default;
$error-color: color('red', 'base') !default;
$link-color: color('light-blue', 'darken-1') !default;

// 2. Badges
// ==========================================================================

$badge-bg-color: $secondary-color !default;
$badge-height: 22px !default;

// 3. Buttons
// ==========================================================================

// Shared styles
$button-border: none !default;
$button-background-focus: lighten($secondary-color, 4%) !default;
$button-font-size: 1rem !default;
$button-icon-font-size: 1.3rem !default;
$button-height: 36px !default;
$button-padding: 0 2rem !default;
$button-radius: 2px !default;

// Disabled styles
$button-disabled-background: #dfdfdf !default;
$button-disabled-color: #9f9f9f !default;

// Raised buttons
$button-raised-background: $secondary-color !default;
$button-raised-background-hover: lighten(
  $button-raised-background,
  5%
) !default;
$button-raised-color: #fff !default;

// Large buttons
$button-large-icon-font-size: 1.6rem !default;
$button-large-height: $button-height * 1.5 !default;

// Flat buttons
$button-flat-color: #343434 !default;
$button-flat-disabled-color: lighten(#999, 10%) !default;

// Floating buttons
$button-floating-background: $secondary-color !default;
$button-floating-background-hover: $button-floating-background !default;
$button-floating-color: #fff !default;
$button-floating-size: 40px !default;
$button-floating-large-size: 56px !default;
$button-floating-radius: 50% !default;

// 4. Cards
// ==========================================================================

$card-padding: 24px !default;
$card-bg-color: #fff !default;
$card-link-color: color('orange', 'accent-2') !default;
$card-link-color-light: lighten($card-link-color, 20%) !default;

// 5. Carousel
// ==========================================================================

$carousel-height: 400px !default;
$carousel-item-height: $carousel-height / 2 !default;
$carousel-item-width: $carousel-item-height !default;

// 6. Collapsible
// ==========================================================================

$collapsible-height: 3rem !default;
$collapsible-line-height: $collapsible-height !default;
$collapsible-header-color: #fff !default;
$collapsible-border-color: #ddd !default;

// 7. Chips
// ==========================================================================

$chip-bg-color: #e4e4e4 !default;
$chip-border-color: #9e9e9e !default;
$chip-selected-color: #26a69a !default;
$chip-margin: 5px !default;

// 8. Date + Time Picker
// ==========================================================================

$datepicker-display-font-size: 2.8rem;
$datepicker-weekday-color: rgba(0, 0, 0, 0.87) !default;
$datepicker-weekday-bg: darken($secondary-color, 7%) !default;
$datepicker-date-bg: $secondary-color !default;
$datepicker-year: rgba(255, 255, 255, 0.7) !default;
$datepicker-focus: rgba(0, 0, 0, 0.05) !default;
$datepicker-selected: $secondary-color !default;
$datepicker-selected-outfocus: desaturate(
  lighten($secondary-color, 35%),
  15%
) !default;

$timepicker-clock-color: rgba(0, 0, 0, 0.87) !default;
$timepicker-clock-plate-bg: #eee;

// 9. Dropdown
// ==========================================================================

$dropdown-bg-color: #fff !default;
$dropdown-hover-bg-color: #eee !default;
$dropdown-color: $secondary-color !default;
$dropdown-item-height: 50px !default;

// 10. Fonts
// ==========================================================================

$roboto-font-path: '../fonts/roboto/' !default;

// 11. Forms
// ==========================================================================

// Text Inputs + Textarea
$input-height: 3rem !default;
$input-border-color: color('grey', 'base') !default;
$input-border: 1px solid $input-border-color !default;
$input-background: #fff !default;
$input-error-color: $error-color !default;
$input-success-color: $success-color !default;
$input-focus-color: $secondary-color !default;
$input-font-size: 1rem !default;
$input-margin-bottom: 20px;
$input-margin: 0 0 $input-margin-bottom 0 !default;
$input-padding: 0 !default;
$input-transition: all 0.3s !default;
$label-font-size: 0.8rem !default;
$input-disabled-color: rgba(0, 0, 0, 0.42) !default;
$input-disabled-solid-color: #949494 !default;
$input-disabled-border: 1px dotted $input-disabled-color !default;
$input-invalid-border: 1px solid $input-error-color !default;
$placeholder-text-color: lighten($input-border-color, 20%) !default;

// Radio Buttons
$radio-fill-color: $secondary-color !default;
$radio-empty-color: #5a5a5a !default;
$radio-border: 2px solid $radio-fill-color !default;

// Range
$range-height: 14px !default;
$range-width: 14px !default;
$track-height: 3px !default;

// Select
$select-border: 1px solid #f2f2f2 !default;
$select-background: rgba(255, 255, 255, 0.9) !default;
$select-focus: 1px solid lighten($secondary-color, 47%) !default;
$select-option-hover: rgba(0, 0, 0, 0.06) !default;
$select-option-focus: rgba(0, 0, 0, 0.03) !default;
$select-padding: 5px !default;
$select-radius: 2px !default;
$select-disabled-color: rgba(0, 0, 0, 0.3) !default;

// Switches
$switch-bg-color: $secondary-color !default;
$switch-checked-lever-bg: desaturate(
  lighten($switch-bg-color, 25%),
  25%
) !default;
$switch-unchecked-bg: #f1f1f1 !default;
$switch-unchecked-lever-bg: rgba(0, 0, 0, 0.38) !default;
$switch-radius: 15px !default;

// 12. Global
// ==========================================================================

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: 'only screen and (min-width : #{$small-screen-up})' !default;
$large-and-up: 'only screen and (min-width : #{$medium-screen-up})' !default;
$extra-large-and-up: 'only screen and (min-width : #{$large-screen-up})' !default;
$small-and-down: 'only screen and (max-width : #{$small-screen})' !default;
$medium-and-down: 'only screen and (max-width : #{$medium-screen})' !default;
$medium-only: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})' !default;

// 13. Grid
// ==========================================================================

$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width * 2)/3 !default;

// 14. Navigation Bar
// ==========================================================================

$navbar-height: 64px !default;
$navbar-line-height: $navbar-height !default;
$navbar-height-mobile: 56px !default;
$navbar-line-height-mobile: $navbar-height-mobile !default;
$navbar-font-size: 1rem !default;
$navbar-font-color: #fff !default;
$navbar-brand-font-size: 2.1rem !default;

// 15. Side Navigation
// ==========================================================================

$sidenav-font-size: 14px !default;
$sidenav-font-color: rgba(0, 0, 0, 0.87) !default;
$sidenav-bg-color: #fff !default;
$sidenav-padding: 16px !default;
$sidenav-item-height: 48px !default;
$sidenav-line-height: $sidenav-item-height !default;

// 16. Photo Slider
// ==========================================================================

$slider-bg-color: color('grey', 'base') !default;
$slider-bg-color-light: color('grey', 'lighten-2') !default;
$slider-indicator-color: color('green', 'base') !default;

// 17. Spinners | Loaders
// ==========================================================================

$spinner-default-color: $secondary-color !default;

// 18. Tabs
// ==========================================================================

$tabs-underline-color: $primary-color-light !default;
$tabs-text-color: $primary-color !default;
$tabs-bg-color: #fff !default;

// 19. Tables
// ==========================================================================

$table-border-color: #d0d0d0 !default;
$table-striped-color: #f2f2f2 !default;

// 20. Toasts
// ==========================================================================

$toast-height: 48px !default;
$toast-color: #323232 !default;
$toast-text-color: #fff !default;
$toast-action-color: #eeff41;

// 21. Typography
// ==========================================================================

$off-black: rgba(0, 0, 0, 0.87) !default;
// Header Styles
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1rem !default;

// 22. Footer
// ==========================================================================

$footer-font-color: #fff !default;
$footer-bg-color: $primary-color !default;
$footer-copyright-font-color: rgba(255, 255, 255, 0.8) !default;
$footer-copyright-bg-color: rgba(51, 51, 51, 0.08) !default;

// 23. Flow Text
// ==========================================================================

$range: $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;

// 24. Collections
// ==========================================================================

$collection-border-color: #e0e0e0 !default;
$collection-bg-color: #fff !default;
$collection-active-bg-color: $secondary-color !default;
$collection-active-color: lighten($secondary-color, 55%) !default;
$collection-hover-bg-color: #ddd !default;
$collection-link-color: $secondary-color !default;
$collection-line-height: 1.5rem !default;

// 25. Progress Bar
// ==========================================================================

$progress-bar-color: $secondary-color !default;

@import 'node_modules/materialize-css/sass/components/_typography.scss';
@import 'node_modules/materialize-css/sass/components/_global.scss';
@import 'node_modules/materialize-css/sass/components/_buttons.scss';
@import 'node_modules/materialize-css/sass/components/forms/_forms.scss';

body {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-family: sans-serif;
  color: #444;
}

textarea,
input,
select {
  background: #ededed !important;
  font-weight: bold;
  padding-left: 15px !important;
  width: 100% !important;
  height: 40px;
  margin-bottom: 0 !important;
}

.fullwidth {
  width: 100% !important;
}

div {
  width: 100%;
}

div.input-field,
.validate {
  width: 100%;
}
select {
  cursor: pointer;
}

select option {
  font-weight: bold;
  padding: 10px;
}

input[type='text'] + label {
  padding-top: 0px;
  padding-left: 15px;
}

input[type='text'] + label.active,
h5 {
  font-weight: bold;
  padding-left: 0;
  font-size: 18px;
  color: #0c4c70;
}

.item {
  display: inline-block;
  margin-right: 20px;
  width: 25%;
}

h4 {
  padding: 16px 0;
  border-bottom: #ddd 2px solid;
  text-transform: uppercase;
  font-weight: bold;
}

/* h4:before {
  content: '\25B6';
  font-weight: bold;
  display: inline-block;
  font-size: 100%;
  color: #DDD;
  margin-right:25px;
} */

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.flex-row h5 {
  width: 100%;
  font-size: 100%;
  font-weight: 700;
}

.flex-row h5 + div {
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

p.validation-error {
  font-style: italic;
  margin: 0;
  color: #e98c29;
  padding-left: 20px;
  float: right;
}

.errorBloc {
  width: 100%;
  padding: 30px;
  background: #e98c29;
  color: white;
  margin-top: 30px;
}

.hasError select,
.hasError input,
.hasError textarea {
  border: 1px solid #e98c29;
  transition-duration: 300ms;
}

.flex-row h5 + div textarea {
  align-self: auto;
}

.dropzone {
  height: 44px;
  line-height: 40px;
  width: 100%;
  padding: 0 15px;
  border: 4px dashed #aaa;
  background-color: #ededed;
  font-weight: bold;
  cursor: pointer;
}

.selectedFile,
.requiredStar {
  color: #e98c29;
}

.maxSize {
  font-weight: normal;
  font-style: italic;
  display: inline-block;
  padding-left: 10px;
  color: #e98c29;
}

@media screen and (max-width: 12500px) {
  .flex-row {
    flex-direction: column;
  }
  .flex-row h5 + div {
    padding-left: 0;
  }
  p.validation-error {
    padding: 5px 0 0 0;
  }
  .input-field {
    margin-top: 0 !important;
  }
  p.item {
    margin-top: 0;
    margin-bottom: 0;
  }
}
// coucouu
