@import '../../../style/sizes';
@import '../../../style/theme';
@import '../../../style/responsive';

.Hero {
  background: $primary;
  background: linear-gradient(90deg, $dark_primary, $primary);
  height: $hero_height;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  // top: -1 * $header_height;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 149px;
    bottom: -2px;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/wave_top.svg');
  }

  .HeroBg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $primary;
    background-image: url('/static/images/ghost_logo.svg');
    background-repeat: no-repeat;
  }

  .Container {
    z-index: 1;
    max-width: $container_max_width;
    width: $container_width;
    margin: 0 auto;
    color: white;

    display: flex;

    .Branding {
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .Title {
        font-size: 3.6em;
        font-weight: bolder;
        text-transform: uppercase;
        span {
          color: $accent;
        }
        margin-bottom: 10px;
      }

      .SubTitle {
        font-size: 1.5em;
        font-weight: 300;
        width: 80%;
      }
    }

    .Video {
      position: relative;
      z-index: 1;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .VideoContainer {
        box-shadow: rgba(0, 0, 0, 0.47) 0 0 40px;
        box-sizing: border-box;
        width: 560px;
        height: 315px;
        background: black;
        border: 10px solid white;
        position: relative;
        top: 50px;
        right: 0;

        .VideoTag {
          display: block;
          position: absolute;
          width: 280px;
          text-align: center;
          left: -300px;
          transform: rotate(-5deg);
          top: 180px;
          font-size: 2.6em;
          font-family: 'Vibur';
          color: #fafafa;
          &:after {
            content: '';
            display: block;
            height: 60px;
            background-image: url('/static/images/arrow_video.svg');
            background-repeat: no-repeat;
            background-position: 100px;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: $break-tablet) {
  .Hero {
    width: 100%;
    &:after {
      height: 100px;
    }
    .Container {
      flex-direction: column;
      padding-top: 100px;
      .Branding {
        text-align: center;
        width: 100%;
        .Title {
          font-size: 3em;
        }
        .SubTitle {
          font-size: 1em;
        }
      }
      .Video {
        .VideoContainer {
          box-sizing: border-box;
          background: black;
          border: 10px solid white;
          position: relative;
          margin: 0 auto;
          max-width: 546px;
          width: 100%;
          top: 50px;
          .VideoTag {
            display: none;
          }
        }
      }
    }
  }
}
