@import '../../../style/theme';

.FooterSection {
  box-sizing: border-box;
  padding: $spacing 0 ($spacing / 2) 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  .Infos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Author {
    line-height: 1.5em;
    color: $light_text;
    a {
      text-decoration: none;
      color: $accent;
    }
  }

  .Copyrights {
    color: white;
  }

  .Socials {
    ul li {
      display: inline-block;
      margin: 0 20px;
      a {
        transition-duration: 300ms;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          color: $accent;
        }
      }
    }
  }
}
