.MiniPost {
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  img {
    width: 80%;
    height: auto;
    min-height: 260px;
  }
  p {
    text-align: center;
    color: white;
  }
  h3 {
    font-size: 2.3em;
  }
}
