@import '../../../style/theme';
@import '../../../style/responsive';

.ContactSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 120px 0;
  p {
    color: #333;
  }

  h3 {
    color: $primary;
    width: 100%;
  }

  .Infos {
    width: 33%;
    text-align: center;
  }

  .Form {
    width: 33%;
    text-align: center;
  }
}

@media (max-width: $break-tablet) {
  .ContactSection .Infos,
  .ContactSection .Form {
    width: 100%;
  }
}
