@import '../../../style/theme';

.Mecenes {
  margin: 80px auto;
  .Infos {
    margin: 80px auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;

    .InfosText {
      max-width: 50%;
      h3 {
        text-transform: uppercase;
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 40px;
        width: 60%;
      }
      p {
        color: #d4d4d4;
      }
    }
  }
}
