@import '../../../../style/theme';

.Textarea {
  background: $primary;
  color: white;
  padding: 10px 20px;
  margin: 0 20px 20px 20px;
  box-sizing: border-box;
  height: 100px;
  &::placeholder {
    color: #fafafa;
  }
}
