@import '../../../style/sizes';

.ServicesSection {
  position: relative;
  width: 100%;

  .Buttons {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
