@import '../../../style/theme';

.BlogPostPreview {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 6px;
  box-sizing: border-box;
  margin: 25px 10px;
  border-radius: 2px;
  color: $primary;

  transition-duration: 200ms;

  &.NoShadow {
    box-shadow: none;
  }

  &.SchemeDark {
    background: $primary;
    color: white;
    .ImageContainer {
      &:after {
        background-image: url('/static/images/post-preview-rounded.svg');
      }
    }
  }
  &.BlogPostPreviewSizeM {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    &.BlogPostPreviewReversed {
      flex-direction: row-reverse;
      .ImageContainer {
        &:after {
          left: 0;
          right: calc(100% - 45px);
          background-image: url('/static/images/post-preview-rounded-vertical-toright.svg');
        }
      }
    }
    .ImageContainer {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        min-width: 30px;
        bottom: -5px;
        right: 0;
        top: 0;
        background-image: url('/static/images/post-preview-rounded-vertical-toleft.svg');
        background-repeat: no-repeat;
        background-size: cover;
      }
      overflow: hidden;
      border-radius: 2px 2px 0 0;
      width: 100%;
      min-width: 50%;
      img {
        height: 100%;
        width: 100%;
        object-position: center;
        object-fit: cover;
        transition-duration: 1000ms;
        cursor: pointer;

        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);

        &:hover {
          -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
          filter: grayscale(80%);
          transform: scale(1.1);
        }
      }
    }
  }

  &.BlogPostPreviewSizeS {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    .ImageContainer {
      position: relative;
      width: 100%;
      min-width: 50%;
      &:after {
        content: '';
        position: absolute;
        min-height: 30px;
        bottom: -5px;
        left: 0;
        right: 0;
        background-image: url('/static/images/post-preview-rounded.svg');
        background-repeat: no-repeat;
        background-size: cover;
      }
      overflow: hidden;
      max-height: 250px;
      border-radius: 2px 2px 0 0;
      img {
        height: 100%;
        width: 100%;
        object-position: center;
        object-fit: cover;
        transition-duration: 2000ms;
        cursor: pointer;

        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);

        &:hover {
          -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
          filter: grayscale(80%);
          transform: scale(1.1);
        }
      }
    }
  }

  .Meta {
    font-size: 0.8em;
    color: $accent;
    position: relative;
    top: 25px;
  }

  .BodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px auto;
    padding-bottom: 15px;
    width: 80%;
    h4 {
      text-align: center;
      height: 2.5em;
    }
    .Body {
      margin: 30px 0;
      font-size: 14px;
      font-weight: lighter;
      line-height: 1.5em;
    }

    .Button {
      margin: 0 auto;
    }
  }
}
