@import '../../../style/theme';

.Section {
  position: relative;
  background: $primary;
  color: white;

  &.SectionLight {
    background: white;
    color: $primary;
  }

  &.Spaced {
    padding-top: $spacing;
    padding-bottom: $spacing;
  }

  .Container {
    width: 80%;
    margin: 0 auto;

    &.Fluid {
      width: 100%;
    }
  }

  .WaveContainer {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    background: $primary;
  }
  .Wave {
    width: 100%;
    height: auto;
    margin-bottom: -5px;
    &.Reverse {
      transform: rotate(180deg);
    }
  }
}
