@import '../../../style/theme';
@import '../../../style/sizes';
@import '../../../style/responsive';

.FlexGrid {
  .Grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-width: $break-tablet) {
  .FlexGrid .Grid > * {
    min-width: 100%;
  }
}
